swagger: '2.0'

info:
  description: 'Restful API for [Odoo](https://www.odoo.com).'
  version: '2.0.0'
  title: 'MuK REST API'
  contact:
    email: 'support@mukit.at'
    url: 'https://www.mukit.at'
  license:
    name: 'Odoo Proprietary License v1.0'
    url: 'https://www.odoo.com/documentation/user/11.0/legal/licenses/licenses.html#licenses'
  x-logo:
    url: 'https://mukit.at/theme_crafito/static/src/img/logo.png'
    
    
schemes:
  - 'http'
  - 'https'
host: 'demo.mukit.at'
basePath: '/api'

externalDocs:
  description: 'Documentation and Examples'
  url: 'https://github.com/muk-it/muk_docs'

tags:
  - name: 'Authentication'
    description: 'Operations to create and refresh a token'
  - name: 'Read/Search'
    description: 'Operations to read data from the system'
  - name: 'Create/Write/Delete'
    description: 'Operations to manipulate data from the system'
  - name: 'Generic Request'
    description: 'A generic request to call any method in the system'
  - name: 'Reports and Files'
    description: 'Operations to generate reports or download files'
  - name: 'Database'
    description: 'Operations interact with the database'
  - name: 'Backup/Restore'
    description: 'Operations backup or restore the database'

paths:
  '/authenticate':
    post:
      tags:
        - 'Authentication'
      summary: 'Generate API Token'
      description: 'Generates the API token based on the given login informations'
      operationId: 'authenticate'
      consumes:
      - 'text/html'
      - 'application/xml'
      - 'application/xhtml+xml'
      produces:
      - 'application/json'
      parameters:
        - name: 'db'
          in: 'query'
          type: string
          required: true
          description: "The database"
        - name: 'login'
          in: 'query'
          type: string
          required: true
          description: "User login"
        - name: 'password'
          in: 'query'
          type: string
          required: true
          description: "User password"
      responses:
        200:
          description: "successful operation"
        400:
          description: "arguments missing"
        401:
          description: "invalid login"
        404:
          description: "invalid db"
        500:
          description: "rest api is not supported"
